/* Advanced Facebook Wall */
#advanced_fb h1 span {
display: block;
font-size: 12px;
text-align: right;
border-radius: 5px;
}
.adv_fb_post_area ul {
margin: 0px;
}
.adv_fb_post_area ul li{
    list-style: none;
}
.adv_fb_post_img {
float: left;
}
.adv_status {
padding-left: 65px;
}
.adv_status_attachment {
border-left: 1px solid #C4C4C4;
font-size: 12px;
margin-top: 14px;
overflow: hidden;
padding-left: 10px;
}
.adv_status_attachment_image{
    float: left;
    padding-right: 10px;
}
.adv_status_attachment_data_name {
font-weight: bold;
margin: 0px;
}
.adv_status_attachement_data_caption {
margin: 0px;
color: #777777;
}